* {
    margin: 0;
    background-color: black;
    color: white;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.menu {
    width: 25%;
    max-width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 12px;
    margin-top: 30px;
    border-right: 1px rgba(38, 38, 38, 1) solid;

    >section {
        >img {
            width: 50px;
            height: 50px;
            margin-left: 16px;
            margin-bottom: 32px;
        }

        >div {
            padding: 16px;
            gap: 24px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            
            >img {
                width: 32px;
                height: 32px;    
            }
        }
    }

    >section {
        >div {
            padding: 16px;
            gap: 24px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            
            >img {
                width: 32px;
                height: 32px;    
            }
        }
    }
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 640px;

        >header {
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            gap: 4px;
            padding-bottom: 30px;
            border-bottom: 1px rgba(38, 38, 38, 1) solid;
            p {

            }
        }
    

        >section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            margin-top: 24px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 12px;
            }

            img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
            }

            h5 {
                line-break: strict;
                width: 56px;
            }
        }
    }
}


.mainContentImgs {
    max-width: 470px;
    >article {
        margin-bottom: 64px;
        >div {
            padding-top: 16px;
            >img {
                width: 100%;
                height: unset;
                border-radius: 0;
            }

            >div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                >div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    >a {
                        padding: 8px;
                        >img {
                            border-radius: 0;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

.mainContentImgsHead {
    display: flex;
    flex-direction: row;
    gap: 12px;
    
    >img {
        height: 32px !important;
        width: 32px !important;
    }

    >p {
        font-size: 14px;
    }
}

.mainContentComments {
    display: flex;
    align-items: flex-start !important;
    padding: 0 !important;
    >h4 {
        padding-left: 4px;
    }

    >section {
        width: 100%;
        padding-left: 4px;
        >article {
            gap: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            >span {
                display: flex;
                flex-direction: row;
                align-items: center;
                >h3 {
                    padding-right: 6px;
                }
    
                >h4 {
                    padding-top: 2px;
                }
            }
        }
    }
}

.reconMenu {
    padding-right: 28px;
    padding-left: 64px;
    width: 25%;
    max-width: 340px;
    img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
    }

    >div {
        margin-top: 16px;
        gap: 10px;
        display: flex;
        flex-direction: row;

        >div {   
            width: 100%; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            >div {

            }
        }
    }

    >span {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        >h4 {
            font-size: 14px;
        }
    }

}

@media (max-width: 1160px) {
    .reconMenu {
        display: none;
    }
}

@media (max-width: 1264px) {
    .d-none1264 {
        display: none;
    }
    
    #storys {
        
        overflow: hidden;
        height: 1100px;
        >div {

        }
    }

    .mainContent {
        > div {
            > section {
                >img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}